main {
    width: 700px;
    height: 500px;
    background-color: rgb(241, 142, 203);
    padding: 40px;
}

.header{
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}

.dois{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
    margin-top: 15px;
}

.aside{
    background-color: cornflowerblue;
    width: 300px;
    height: 360px;
    margin-right: 20px;
}

.article{
    background-color: darkslateblue;
    height: 360px;
    width: 100%;
}

.box{
    height: 115px;
    width: 140px;
    display: inline-block;
    margin: 5px;
    margin-top: 228px;
    margin-left: 10px;
    
}

.one{
    background-color: rgb(0, 255, 85);
}

.two{
    background-color: rgb(0, 255, 85);
}

.three{
    background-color: rgb(0, 255, 85);
}

.footer{
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}

